.cart{
  .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:30px 0px; 
    .first{
      display: flex;
      align-items: center;
      img{
        width: 29px;
        height: 29px;
        margin-right:17px;
      }
      span{
        font-weight: 700;
        font-size: 32px;
        letter-spacing: 0.01em;
        color: #000000;
        border: none;
        cursor:context-menu;
        margin-right: 20px;
      }
    } 
    .second{
      display: flex;
      align-items: center;
      cursor: pointer;
      span{
        font-size: 12px;
        font-weight: 400;
        font-size: 16px;
        color: #B6B6B6;
        border:none;
      }
      img{
        width: 20px;
        height: 20px;
      }
    }
  } 
  .bottom{
    .thrid{
      font-weight: 400;
      font-size: 22px;
      letter-spacing: 0.01em;
       color: #000000;
      }
      .fourth{
        font-weight: 400;
        font-size: 22px;
        letter-spacing: 0.01em;
        color: #000000;
        b{
          color:  #FE5F1E;
          margin-left:10px;
        } 
      }
    }
  .btns {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      width: 211px;
      @media (max-width:500px){
      width: 111px;
      }
    }
    .one{
      background: #FFFFFF;
      border: 1px solid #D3D3D3;
      font-weight: 400;
      font-size: 16px;
      color: #CACACA;
    }
    .two{
      font-weight: 700;
      font-size: 16px;
      color: #FFFFFF;
    }
  }
}